@page "/"
@inject HttpClient Http
@using System.Text.Json

@if(settings is not null)
{
    <p>Number of Rows: @settings.numRows</p>
    <p>Number of Columns: @settings.numColumns</p>
    <p>Custom Layout Directory: @settings.customLayoutDirectory</p>
}

<InputFile id="fileInput" OnChange="SettingsFileChanged" hidden></InputFile>

<MudButton HtmlTag="label"
           Variant="Variant.Filled"
           Color="Color.Primary"
           StartIcon="@Icons.Filled.CloudUpload"
           for="fileInput">
    Upload Settings.Json
</MudButton>

@*Displays the list of participants.*@
<MudPaper Width="300px">
        <MudList Clickable="true">
            @foreach (var participant in settings.participantList)
            {
                <MudListItem Icon="@Icons.Material.Filled.StarRate">
                    @participant
                </MudListItem>
            }
        </MudList>
    </MudPaper>


@code {
    private DefaultLayoutModel? settings = new DefaultLayoutModel();
    private List<CustomLayoutModel> customLayouts = new List<CustomLayoutModel>();
    private string defaultSettingsString = "";

    private async Task SettingsFileChanged(InputFileChangeEventArgs e)
    {
        // Get the file.
        var file = e.File;
        // Read that file in a byte array.
        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);
        // convert byte array to base 64 string.
        defaultSettingsString = Encoding.Default.GetString(buffer);
        settings = JsonSerializer.Deserialize<DefaultLayoutModel>(defaultSettingsString);
    }
}