@page "/"
@inject HttpClient Http
@using MudBlazor


<p>Number of Rows: @settings.numRows</p>
<p>Number of Columns: @settings.numColumns</p>
<InputFile OnChange="SettingsFileChanged"></InputFile>
<p>@test</p>


@*@foreach(var thing in folders)
    {
        <p>@thing</p>
    }*@



@*Displays the list of participants.*@
@*<MudPaper Width="300px">
        <MudList Clickable="true">
            @foreach (var participant in settings.participantList)
            {
                <MudListItem Icon="@Icons.Material.Filled.StarRate">
                    @participant
                </MudListItem>
            }
        </MudList>
    </MudPaper>*@



@code {
    private DefaultLayoutModel? settings = new DefaultLayoutModel();
    private List<CustomLayoutModel> customLayouts = new List<CustomLayoutModel>();
    private int maxAllowedFiles = int.MaxValue;
    private long maxFileSize = long.MaxValue;
    private List<string> fileNames = new();
    private string test = "";

    private async Task SettingsFileChanged(InputFileChangeEventArgs e)
    {
        // Get the file.
        var file = e.File;
        // Read that file in a byte array.
        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);
        // convert byte array to base 64 string.
        test = Convert.ToBase64String(buffer);

    }

    protected override async Task OnInitializedAsync()
    {
        settings = await Http.GetFromJsonAsync<DefaultLayoutModel?>(".vbgp/Settings.json");

    }

    async void AddToParticipantList()
    {
        var banana = new DefaultLayoutModel
        {
            numRows = 5,
            numColumns = 5,
            participantList = new List<string> { "New List" },
            customLayoutDirectory = "/Custom_Layouts/"
        };
        //await Http.PostAsJsonAsync<DefaultLayoutModel>(".vbgp/Settings2.json", banana);
    }
}